*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  line-height: var(--sp);
  background-color: #F7F9FA;
  background-image: url('/images/background.svg');
  background-position: top left;

  &.js-fixed {
    position: fixed;
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin-top: var(--sp);
  margin-bottom: var(--sp);
  font-weight: bold;
  font-size: 24px;
  line-height: var(--sp1-5);
  letter-spacing: -0.01em;
  color: var(--color--gray-0);

  @media (--md) {
    margin-top: var(--sp2);
    margin-bottom: var(--sp2);
    font-size: 60px;
    line-height: var(--sp4);
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color--blue-20);
  opacity: 0.2;

  .js-overlay-active & {
    display: block;
  }
}