.button--primary {
  display: inline-flex;
  align-items: center;
  padding: 0 18px;
  background-color: var(--color--blue-20);
  color: white;
  font-weight: bold;
  height: var(--sp2);
  border-radius: 2px;
  white-space: nowrap;
  transition: background-color 0.2s;

  &:focus,
  &:hover {
    background-color: var(--color--blue-50);
  }

  &:focus {
    outline: 2px solid var(--color--blue-70);
    outline-offset: 1px;
  }

  &:active {
    background-color: var(--color--blue-20);
  }
}
