.container {
  padding-left: var(--sp);
  padding-right: var(--sp);
  width: 100%;
  max-width: var(--max-width);

  @media (--nav) {
    padding-left: var(--sp2);
    padding-right: var(--sp2);
  }
}

.grid-full {
  display: grid;
  grid-template-columns: repeat(var(--grid-col-count), 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--grid-gap);

  @media (--grid-md) {
    grid-template-columns: repeat(var(--grid-col-count--md), 1fr);
    grid-column-gap: var(--grid-gap--md);
  }
}

.grid-full-no-js > * {
  grid-column: 1 / -1;
}

.page-wrapper {
  max-width: var(--max-bg-color);
  background: white;
}

.content {
  @media (--nav) {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @media (--nav) {
    margin-right: auto;
  }
}
