.container {
  padding-left: var(--sp);
  padding-right: var(--sp);
  width: 100%;
  max-width: var(--max-width);
}

.grid-full {
  display: grid;
  grid-template-columns: repeat(var(--grid-col-count), 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--grid-gap);

  @media (--grid-lg) {
    grid-template-columns: repeat(var(--grid-col-count--lg), 1fr);
  }
}

.page-wrapper {
  max-width: var(--max-bg-color);
  background: white;

}

.content {
  @media (--nav) {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @media (--nav) {
    margin-right: auto;
  }
}
