*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  line-height: var(--sp);

  &.js-fixed {
    position: fixed;
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0E6BA6;
  opacity: 0.2;

  .js-overlay-active & {
    display: block;
  }
}
