.breadcrumb {
  grid-column: 1 / 7;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
  line-height: var(--sp);

  @media (--grid-md) { /* 700px */
    grid-column: 3 / 13;
  }

  @media (--lg) {
    grid-column: 3 / 11;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #2494DB;
  }
}
