.byline {
  margin-bottom: var(--sp2);
  color: #6E7172;
  font-size: 14px;
  line-height: var(--sp);

  @media (--md) {
    margin-bottom: var(--sp4);
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}
