figure {
  background: #F1F5F8;

  &.pull-right {
    margin: var(--sp3) 0;
    max-width: 100%;

    @media (--grid-md) {
      float: right;
      width: calc(5 * var(--grid-col-width--md) + 4 * var(--grid-gap));
      margin-right: calc(-2 * ((var(--grid-col-width--md) + var(--grid-gap))));
      margin-left: var(--sp);
    }

    @media (--lg) {
      width: calc(5 * var(--grid-col-width--lg) + 4 * var(--grid-gap));
      margin-right: calc(-2 * ((var(--grid-col-width--lg) + var(--grid-gap))));
    }

    @media (--nav) {
      width: calc(4 * var(--grid-col-width--nav) + 3 * var(--grid-gap));
      margin-right: calc(-2 * ((var(--grid-col-width--nav) + var(--grid-gap))));
    }

    @media (--grid-max) {
      width: calc(4 * var(--grid-col-width--max) + 3 * var(--grid-gap));
      margin-right: calc(-2 * ((var(--grid-col-width--max) + var(--grid-gap))));
    }
  }
}

figcaption {
  padding: var(--sp0-5);
  font-family: var(--font-serif);
  font-size: 14px;
  font-style: italic;;
  line-height: var(--sp);
  color: #455057;

  @media (--sm) {
    padding: var(--sp);
  }
}
