.js-overlay-active .mobile-buttons {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: white;
  height: var(--sp3);
  padding-right: 1rem;
  @media (--sm) {
    height: var(--sp6);
    width: 100%;
    max-width: var(--sm); /* set to max-width of .header-nav on header.css */
  }
}

.js-overlay-active .mobile-nav-button {
  @media (--md) {
    margin-top: var(--sp4);
  }
}

.mobile-buttons {
  grid-column: 4 / 7;
  -ms-grid-column-align: end;
  margin-left: auto;
  display: flex;
  transition: all 0.2s;
  @media (--sm) {
    align-self: end;
  }

  @media (--grid-md) {
    grid-column: 11 / 15;
  }

  @media (--nav) {
    display: none;
  }
}
