/* Header */
.site-header {
  @media (--nav) {
    /* Necessary to keep the content from jumping up when header transitions to fixed. */
    min-height: calc(10 * var(--sp));
  }
}

.site-header__inner {
  display: flex;
  align-items: flex-end;

  &.js-fixed {
    position: fixed;
    top: -72px;
    width: 100%;

    .container {
      box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.08);
    }
  }

  &.js-fixed:not([aria-expanded="true"]) {
    .container {
      transform: translatex(-101%);
      opacity: 0;
    }
  }

  .container {
    transition: all 0.5s;
    background: white;
  }
}

.site-branding {
  grid-column: span 3;
  padding: var(--sp);
  background-image: linear-gradient(161.85deg, var(--blue) 0%, #0D7AB8 78.66%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: calc(-1 * var(--sp)) 0 0 var(--blue);

  @media (--nav) {
    width: calc(100% + 2 * var(--sp));
    margin-left: calc(-1 * var(--sp));
    margin-right: calc(-1 * var(--sp));
    padding-top: calc(4 * var(--sp));
    padding-bottom: 0;
    font-size: 32px;
    line-height: calc(2 * var(--sp));
    box-shadow: calc(-1 * var(--content-left)) 0 0 var(--blue);

    .site-branding__inner {
      display: flex;
      align-items: center;
      height: calc(6 * var(--sp));
    }
  }
}

.header-nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - (2 * var(--sp)));
  height: 100%;
  padding: var(--sp);
  overflow: auto;
  max-width: 500px;
  background-color: white;

  @media (--nav) {
    position: static;
    grid-column: 4 / -1;
    height: calc(6 * var(--sp));
    max-width: none;
    padding: 0;
    overflow: visible;
    display: flex;
    align-self: flex-end; /* necessary for intersection observer to detect when to transition to fixed. */
    align-items: center;
    justify-content: flex-end;
    transition: transform 0.2s;
  }
}
