.js-overlay-active .mobile-buttons {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  left: 0;
  right: 0;
  background: white;
  height: 54px;
  top: 0;
  padding-right: 1rem;
}

.mobile-buttons {
  grid-column: 4 / 7;
  -ms-grid-column-align: end;
  margin-left: auto;
  display: flex;

  @media (--sm) {
    align-self: end;
  }

  @media (--grid-md) {
    grid-column: 11 / 15;
  }

  @media (--nav) {
    display: none;
  }
}
