/* Header */
.site-header {
  position: relative;

  @media (--nav) {
    /* Necessary to keep the content from jumping up when header transitions to fixed. */
    min-height: var(--sp10);
  }
}

.header__left {
  position: relative;
  z-index: 2;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  background-color: var(--color--blue-50);
}

.site-header__fixable {
  display: flex;
  align-items: flex-end;
  transition: all 0.5s;

  &.js-fixed {
    position: fixed;
    z-index: 2; /* Appear above body content that is position: relative */
    top: calc(-1 * var(--sp4));
    width: 100%;
    max-width: var(--max-bg-color);
  }
}

.site-header__inner {
  width: 100%;
  transition: all 0.3s;

  .site-header__fixable.js-fixed & {
    background: white;
    box-shadow: -36px 1px 36px rgba(0, 0, 0, 0.08);
  }

  .site-header__fixable.js-fixed &:not([data-menu-open="true"]) {
    transform: translatex(-101%);
    opacity: 0;
  }
}

.site-branding {
  grid-column: span 3;
  padding: var(--sp);
  background-image: linear-gradient(160deg, var(--color--blue-50) 0%, #0D7AB8 78.66%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: calc(-1 * var(--sp)) 0 0 var(--color--blue-50);

  @media (--sm) {
    padding-top: var(--sp2);
  }

  @media (--md) {
    grid-column: span 4;
    padding-top: var(--sp4);
    font-size: 28px;
  }

  @media (--nav) {
    grid-column: span 2;
    width: calc(100% + 2 * var(--grid-gap--md));
    margin-left: calc(-1 * var(--grid-gap--md));
    margin-right: calc(-1 * var(--grid-gap--md));
    padding-top: var(--sp4);
    padding-left: var(--sp2);
    padding-bottom: 0;
    font-size: 32px;
    line-height: var(--sp2);
    letter-spacing: 0.02em;
    box-shadow: calc(-1 * var(--content-left)) 0 0 var(--color--blue-50);

    .site-branding__inner {
      display: flex;
      align-items: center;
      height: var(--header-height-wide-when-fixed);
    }
  }
}

.header-nav {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5; /* appear above overlay */
  transform: translatex(101%);
  width: 100%;
  height: 100%;
  padding: 0 var(--sp) var(--sp);
  overflow: auto;
  max-width: 500px;
  background-color: white;
  border-top: solid white var(--sp3); /* Create room for the "close" button. */
  transition: all 0.2s;
  box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.1);

  @media (--sm) {
    border-top-width: var(--sp5);
  }

  @media (--md) {
    padding: 0 var(--sp3) var(--sp3);
    border-top-width: var(--sp7);
  }

  @media (--nav) {
    visibility: visible;
    position: static;
    grid-column: 5 / 15;
    height: var(--header-height-wide-when-fixed);
    transform: none;
    max-width: none;
    padding: 0;
    overflow: visible;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: flex-end;
    transition: transform 0.2s;
    box-shadow: none;
  }

  @media (--lg) {
    grid-column: 5 / 14;
  }

  &[data-menu-open="true"] {
    visibility: visible;
    transform: translatex(0);
  }
}
