.search-wrapper {
  input[type="search"] {
    -webkit-appearance: none;
    border: 0;
    background-color: #F1F4F7;
    margin-left: calc(-1 * var(--sp));
    margin-right: calc(-1 * var(--sp));
    margin-bottom: var(--sp2);
    width: calc(100% + 2 * var(--sp));
    height: calc(3 * var(--sp));
    padding: var(--sp2);
    font-family: serif;
    font-size: 16px;
  }

  @media (--nav) {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    top: 180px;
    background: black;
    padding: 72px;
  }
}
