.search-wrapper {
  @media (--nav) {
    position: absolute;
    visibility: hidden;
    width: 100vw;
    height: var(--sp8);
    max-width: var(--max-bg-color);
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: 100%;
    background: black;
    border-left: solid var(--content-left) #313637;
    padding: 0;
    z-index: -1;
    transition: all 0.2s;

    &[aria-expanded="true"] {
      visibility: visible;
      max-height: var(--sp8);
    }
  }

  form {
    @media (--nav) {
      position: relative;
      display: flex;
      grid-column: 1 / 14;
    }
  }

  input[type="search"] {
    -webkit-appearance: none;

    border: 0;
    background-color: #F1F4F7;
    margin-left: calc(-1 * var(--sp));
    margin-right: calc(-1 * var(--sp));
    margin-bottom: var(--sp2);
    width: calc(100% + 2 * var(--sp));
    height: calc(3 * var(--sp));
    padding: var(--sp2);
    font-family: serif;
    font-size: 16px;

    @media (--nav) {
      flex-grow: 1;
      margin: 0;
      padding: var(--sp4) var(--sp4) var(--sp4) var(--sp10);
      background-color: transparent;
      color: white;
      font-size: 32px;

      &:focus {
        outline: 0; /* Input will not show *unless* it is in focus. */
      }
    }
  }

  input[type="submit"] {
    width: 100px;
    background-color: transparent;
    border: 0;
    background-image: url('/images/search--white.svg');
    background-position: center right;
    background-repeat: no-repeat;
    text-indent: -999px;
    cursor: pointer;
  }
}

.search-grid {
  @media (--nav) {
    display: grid;
    grid-template-columns: repeat(var(--grid-col-count--md), 1fr);
    grid-column-gap: var(--grid-gap--md);
  }
}

.header-nav__search-button {
  display: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  margin-left: var(--sp2);
  height: var(--sp6);
  width: var(--sp3);
  cursor: pointer;

  @media (--nav) {
    position: relative;
    display: block;
    margin-left: var(--sp0-5);

    &:focus {
      outline: 0;
    }

    &[aria-expanded="true"] {
      background: black;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--sp1-5);
        height: 2px;
        background-color: white;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      img {
        display: none;
      }
    }

    img {
      margin: 0 auto;
    }
  }
}
