.hero {
  grid-column: 1 / 6;

  @media (--md) {
    grid-column: 3 / 11;
  }

  img {
    @media (--md) {
      margin-top: var(--sp3);
      margin-bottom: var(--sp3);
      margin-left: calc(-1 * var(--grid-width));
      max-width: calc(100% + (2 * var(--grid-width)));
    }
  }
}
