.hero {
  grid-column: 1 / 7;

  @media (--grid-lg) {
    grid-column: 3 / 13;
  }

  @media (--lg) {
    grid-column: 3 / 11;
  }

  img {
    @media (--grid-lg) {
      margin-top: var(--sp3);
      margin-bottom: var(--sp3);
      max-width: none;
    }

    /* @media (--lg) {
      margin-left: calc(-2 * (var(--grid-width--lg) + var(--grid-gap)));
      width: calc(var(--grid-col-count--lg) * var(--grid-width--lg) + var(--grid-gap-count--lg) * var(--grid-gap));
    }
    @media (--nav-lg) {
      margin-left: calc(-2 * (var(--grid-width--lg) + var(--grid-gap)));
      width: calc(var(--grid-width--lg) * var(--grid-width--max) + var(--grid-gap-count--lg) * var(--grid-gap));
    } */

    @media (--grid-max) {
      margin-left: calc(-2 * (var(--grid-width--max) + var(--grid-gap)));
      width: calc(var(--grid-width--max) * var(--grid-col-count--lg) + var(--grid-gap-count--lg) * var(--grid-gap));
    }
  }

}
