.hero {
  grid-column: 1 / 7;

  @media (--grid-md) { /* 700px */
    grid-column: 3 / 13;
  }

  @media (--lg) {
    grid-column: 4 / 12;
  }

  img {
    @media (--grid-md) {
      margin-top: var(--sp3);
      margin-bottom: var(--sp3);
      margin-left: calc(-2 * (var(--grid-col-width--md) + var(--grid-gap)));
      width: var(--grid-full-width--md);
      max-width: none;
    }

    @media (--lg) {
      margin-left: calc(-2 * (var(--grid-col-width--lg) + var(--grid-gap)));
      width: var(--grid-full-width--lg);
    }

    @media (--nav) {
      margin-left: calc(-2 * (var(--grid-col-width--nav) + var(--grid-gap)));
      width: calc(12 * var(--grid-col-width--nav) + 11 * var(--grid-gap) );
    }

    @media (--grid-max) {
      margin-left: calc(-2 * (var(--grid-col-width--max) + var(--grid-gap)));
      width: calc(12 * var(--grid-col-width--max) + 11 * var(--grid-gap) );
    }
  }
}
