.container {
  padding-left: var(--sp);
  padding-right: var(--sp);
  width: 100%;
  max-width: var(--max-width);
}

.grid-full {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--sp);

  @media (--md) {
    grid-template-columns: repeat(14, 1fr);
  }
}

.content {
  @media (--nav) {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @media (--nav) {
    margin-right: auto;
  }
}
