main {
  padding-top: var(--sp5);
}

.text-content {
  grid-column: 1 / -1;
  line-height: calc(1.5 * var(--sp));
  color: #313637;

  @media (--md) {
    grid-column: 3 / -3;
    font-size: 18px;
    line-height: var(--sp2);
  }

  @media (--lg) {
    grid-column: 3 / -5;
  }



  .lead {
    font-family: var(--font-serif);
    font-weight: bold;
    color: #0D1214;
    letter-spacing: -0.01em;
    line-height: calc(2.5 * var(--sp));

    @media (--md) {
      font-size: 24px;
    }
  }

  h2 {
    margin: var(--sp2) 0 calc(1.5 * var(--sp));
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: calc(1.5 * var(--sp));
    font-size: 16px;
    color: black;

    @media (--md) {
      margin: var(--sp3) 0 var(--sp2);
      font-size: 21px;
      letter-spacing: 0.09em;
    }
  }
}
