main {
  padding-top: var(--sp5);
}

.text-content {
  grid-column: 1 / -1;
  line-height: calc(1.5 * var(--sp));

  @media (--md) {
    grid-column: 3 / -3;
    font-size: 18px;
    line-height: var(--sp2);
  }

  @media (--lg) {
    grid-column: 3 / -5;
  }

  img {
    @media (--md) {
      margin-top: var(--sp3);
      margin-bottom: var(--sp3);
      margin-left: calc(-1 * var(--grid-width));
      /* margin-right: calc(-1 * (var(--sp) + var(--grid-width))); */
      max-width: calc(100% + (2 * var(--grid-width)));
    }
  }

  .lead {
    font-family: var(--font-serif);
    font-weight: bold;
    color: #0D1214;
    letter-spacing: -0.01em;
    line-height: calc(2.5 * var(--sp));
    font-size: 24px;
  }
}
