main {
  padding-top: calc(5 * var(--sp));
}

h1 {
  margin-bottom: var(--sp);
  font-weight: bold;
  font-size: 24px;
  line-height: calc(1.5 * var(--sp));
  letter-spacing: -0.02em;
  color: #0D1214;

  @media (--md) {
    margin-bottom: calc(4 * var(--sp));
    font-size: 60px;
    line-height: calc(4 * var(--sp));
  }
}

.text-content {
  grid-column: 1 / -1;
  line-height: calc(1.5 * var(--sp));

  @media (--md) {
    grid-column: 3 / -3;
  }

  img {
    @media (--md) {
      margin-top: calc(3 * var(--sp));
      margin-bottom: calc(3 * var(--sp));
      margin-left: calc(-1 * var(--grid-width));
      /* margin-right: calc(-1 * (var(--sp) + var(--grid-width))); */
      width: calc(100% + (2 * var(--grid-width)));
      max-width: none;
    }
  }
}
