.secondary-nav__wrapper {
  display: flex;
  justify-content: flex-end;
  order: -1;
  flex-basis: 100%;
  margin-top: calc(2 * var(--sp));

  @media (--nav-2) {
    order: 0;
    flex-basis: auto;
    margin-top: 0;
    margin-bottom: calc(2 * var(--sp));
  }
}

.secondary-nav {
  @media (--nav) {
    margin-left: calc(2* var(--sp));
    padding-left: calc(2* var(--sp));
    border-left: solid 2px #D7E1E8;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .button--primary {
    display: inline-block;
    padding: 0 var(--sp);
    background-color: var(--blue);
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(2 * var(--sp));
    white-space: nowrap;
  }

  li:not(:last-child) {
    margin-right: calc(1.5 * var(--sp));
  }
}

.header-nav__search-button {
  -webkit-appearance: none;
  border: 0;
  margin-left: calc(2 * var(--sp));
  cursor: pointer;
}
