.secondary-nav__wrapper {
  display: flex;
  margin: var(--sp2) 0;

  @media (--nav) {
    justify-content: flex-end;
    margin: 0;
  }
}

.secondary-nav {
  @media (--nav) {
    margin-left: var(--sp2);
    padding-left: var(--sp2);
    border-left: solid 2px #D7E1E8;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    @media (--nav) {
      flex-direction: row-reverse;
    }
  }

  .button--primary {
    display: inline-block;
    padding: 0 var(--sp);
    background-color: var(--blue-dark);
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: var(--sp2);
    white-space: nowrap;
  }

  li:not(:last-child) {
    margin-right: var(--sp1-5);

    @media (--nav) {
      margin-right: 0;
      margin-left: var(--sp1-5);
    }
  }
}

.header-nav__search-button {
  display: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  margin-left: var(--sp2);
  cursor: pointer;

  @media (--nav) {
    display: block;
  }
}
