.social-container {
  @media (--nav) {
    width: var(--content-left);
    flex-shrink: 0;
    background-color: #F7F9FA;
  }
}

.rotate {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--nav) {
    justify-content: flex-end;
    width: 50vh;
    transform: translatex(calc(-100% + var(--content-left) / 2)) rotate(-90deg) translatey(-50%);
    transform-origin: top right;
    white-space: nowrap;
  }
}

.social-label {
  margin-right: var(--sp);
  margin-top: -2px;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #5D7585;
}

.social-container__inner {
  padding: var(--sp0-5) var(--sp);
  background-color: #F7F9FA;

  @media (--nav) {
    position: relative;
    width: var(--content-left);
    padding: calc(9 * var(--sp)) 0;

    &.js-fixed {
      position: fixed;
      top: var(--sp6);
      left: 0;
      height: calc(100vh - 6 * var(--sp))
    }
  }
}
