.social-container {
  @media (--nav) {
    /* We'll handle this with JS to get better control.  */
    /* position: sticky;
    top: calc(6 * var(--sp));
    left: 0; */
    width: var(--content-left);
    flex-shrink: 0;
    background-color: #F7F9FA;

    .rotate {
      display: flex;
      align-items: center;
      width: 100%;
      margin: var(--sp) auto;
      transform: rotate(-90deg);
      white-space: nowrap;
    }

    .social-label {
      margin-right: var(--sp);
      margin-top: -2px;
      font-size: 12px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #98ABB9;
    }
  }
}

.social-container__inner {
  @media (--nav) {
    position: relative;
    width: var(--content-left);
    background-color: #F7F9FA;
    padding: calc(8 * var(--sp)) 0;


    &.js-fixed {
      position: fixed;
      top: calc(6 * var(--sp));
      left: 0;
      height: calc(100vh - 6 * var(--sp))
    }
  }
}
