/*
Media query breakpoints.
Processed by postcss/postcss-custom-media.
*/
@custom-media --sm (min-width: 500px);
@custom-media --md (min-width: 700px);
@custom-media --lg (min-width: 1000px);
@custom-media --xl (min-width: 1300px);

/* Navigation related breakpoints */
@custom-media --nav-md (min-width: 500px);
@custom-media --nav (min-width: 1200px);
@custom-media --nav-lg (min-width: 1200px);

/* Grid related breakpoints */
@custom-media --grid-lg (min-width: 700px);

:root {
  --font-sans: 'metropolis';
  --font-serif: 'georgia', 'serif';

  /* Layout */
  --max-width: 1350px;
  --sp: 18px;
  --content-left: 90px;
  --grid-width: calc(var(--max-width)  / 14);

  /* Layout helpers */
  --sp2: calc(2 * var(--sp));
  --sp3: calc(3 * var(--sp));
  --sp4: calc(4 * var(--sp));
  --sp5: calc(5 * var(--sp));
  --sp6: calc(6 * var(--sp));
  --sp7: calc(7 * var(--sp));
  --sp8: calc(8 * var(--sp));
  --sp9: calc(9 * var(--sp));
  --sp10: calc(10 * var(--sp));

  /* Named colors. */
  --blue-light: #53B0EB;
  --blue: #2494DB;
  --blue-dark: #0D7AB8;
  --gray-light: #F7F9FA;
  --gray: #DFE7ED;
  --black-1: #0D1214;

  /* Header */
  --header-height-wide-when-fixed: calc(6 * var(--sp));
}
