
@font-face {
  font-family: 'metropolis';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'metropolis';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/metropolis/Metropolis-Bold.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Bold.woff') format('woff');
}
