.search-wrapper {
  input[type="search"] {
    border: 0;
    background-color: #F1F4F7;
    margin-left: calc(-1 * var(--sp));
    margin-right: calc(-1 * var(--sp));
    margin-bottom: calc(2 * var(--sp));
    width: calc(100% + 2 * var(--sp));
    height: calc(3 * var(--sp));
    padding: calc(2 * var(--sp));
    font-family: serif;
    font-size: 16px;
  }

  @media (min-width: 700px) {
    display: none;
  }
}
