.secondary-nav {

  @media (min-width: 700px) {
    margin-left: calc(2* var(--unit));
    margin-bottom: calc(2 * var(--unit));
    padding-left: calc(2* var(--unit));
    border-left: solid 2px #D7E1E8;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .button--primary {
    display: inline-block;
    padding: 0 var(--unit);
    background-color: var(--blue);
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(2 * var(--unit));
    white-space: nowrap;
  }

  li:not(:last-child) {
    margin-right: calc(1.5 * var(--unit));
  }
}
