.social-container {
  @media (--nav) {
    position: sticky;
    top: 0;
    left: 0;
    width: 90px;
    height: 100vh;
    flex-shrink: 0;
    padding: calc(8 * var(--sp)) 0;
    background-color: #F7F9FA;

    .rotate {
      display: flex;
      align-items: center;
      width: 100%;
      margin: var(--sp) auto;
      transform: rotate(-90deg);
      white-space: nowrap;
    }

    .social-label {
      margin-right: var(--sp);
      margin-top: -2px;
      font-size: 12px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #98ABB9;
    }
  }
}
