/* Media query breakpoints */
@custom-media --sm (min-width: 500px);
@custom-media --md (min-width: 700px);
@custom-media --lg (min-width: 1000px);
@custom-media --xl (min-width: 1300px);
@custom-media --nav (min-width: 700px);

:root {
  --font-sans: 'metropolis';

  /* Layout */
  --sp: 18px;

  /* Named colors. */
  --blue-light: #53B0EB;
  --blue: #2393DA;
  --gray-light: #F7F9FA;
  --gray: #DFE7ED;
  --black-1: #0D1214;
}
